<div class="container-fluid bg-primary text-white">
    <nav class="navbar  d-none d-lg-flex flex-row justify-content-evenly">
        <div class="d-flex ps-5">
            <img src="https://img.icons8.com/ios/50/000000/medium-monogram--v2.png"/>
            <h5 class="mt-2">Bcd</h5>
        </div>
        <div class="flex-grow-1 mx-5 border">
            <!-- Search form -->
            <input class="form-control" type="text" placeholder="Search products " aria-label="Search">
        </div>
        <div class="border btn-light mx-4 ">
            <button type="button" class="btn btn-light mx-4 ">Login</button>
        </div>
        <a class="nav-item p-0 hover-highlight " routerLink="">
            <div class="d-flex align-items-center justify-content-start fw-normal">
                <i class="fas fa-cart-plus fs-5 text-white"></i>
                <p class="text-white ps-2 mt-3">Cart</p>
            </div>
        </a>
    </nav>
    <div class="bg-light">
        
    </div>
</div>