<aside class="main-sidebar sidebar-dark-primary elevation-1 position-fixed">
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
              <a href="#" class="d-block text-decoration-none">BCD</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                <li class="nav-item">
                    <a routerLink="/dashboard/accounts/" class="nav-link">
                      <img src="https://img.icons8.com/ios/20/000000/check--v2.png" class="bg-light"/>
                      <p class="ps-2">
                        Account Manger
                      </p>
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>

<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  
  <div class="flex-grow-1 mx-5 border">
    <input class="form-control" type="text" placeholder="Search Accounts " aria-label="Search">
  </div>

  <div class="nav-item p-0 hover-highlight " routerLink="">
    <div class="d-flex align-items-center justify-content-start fw-normal">
        <img src="https://img.icons8.com/color/48/000000/user-male-circle--v2.png"/>
    </div>
  </div>
  
</nav>

